*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: darkblue;
}

.card {
    position: relative;
    overflow: hidden;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.fondo-overlay {
    background-color: rgba(128, 128, 128, 0.856);
}

.card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .overlay {
    opacity: 1;
}

.card p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 4.5em;
}
