.contenedor {
    font: 1em sans-serif;
    max-width: 600px;
    margin: 0px auto;

}

.contenido {
    border: 2px dotted black;
    min-height: 10em;
    margin-bottom: 1em;
}

.form-group {
    margin-top: 1em;
}

button {
    display: block;
    width: 100%;
}